
def pass_secret_variables():
    """
    Pass secret variables to the application.
    This function is used to pass the secret variables to the application.
    """
    AZURE_OPENAI_ENDPOINT = "https://*.cognitiveservices.azure.com/"
    AZURE_OPENAI_API_KEY = "*"
    TELEGRAM_BOT_USERNAME = "*"
    TELEGRAM_BOT_KEY = "*:*"

    return AZURE_OPENAI_ENDPOINT, AZURE_OPENAI_API_KEY, TELEGRAM_BOT_USERNAME, TELEGRAM_BOT_KEY

